@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  font-family: 'Righteous', cursive;
  line-height: 1.7;
  font-size: 19px;
  background-color: #222222;
  background-color: #222222;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23e2e2e2' fill-opacity='0.07'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  color: ghostwhite;
  height: 100vh;

}

.navbar {
  display: flex;
  padding: 8px;
  background-color: #111111;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
}

.home-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.home-link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  text-decoration: none;
  height: 3rem;
  color: #111111;

}

.nasa-data {
  display:flex;
  flex-direction: row;
  padding: 2.0rem;
}

.nasa-data-desc {
  margin-left: 2.0rem;
  color: #dddddd;
}

.nasa-data-title {
  color: #d8461f;
}

.App-video {
  text-decoration: underline;
  font-style: italic;
}
